/*PÁGINA: PRINCIPAL*/
	/*BLOQUE:General---------------------------------------------------------*/
		* {
			padding:0;
			margin:0;
		}
		#quickCarrot{
			font: 12pt fGen, sans-serif, 'Source Sans Pro';
			color:#444;
			font-size:12pt;
			position:relative;
		}
		@font-face{
			font-family: 'fGen';
			src: url('fuentes/ModernSans-Light.otf');
		}
		#quickCarrot .btn-gen{
			font-size:12pt;
			color:#fff;
			text-decoration:none;
			background: #f60;
			padding:8px 12px;
			border:none;
			cursor:pointer;
		}
		#quickCarrot .btn-gen:hover{
			background: #777;
		}
		#quickCarrot .btn-gen:active{
			text-decoration:underline;
		}
		#quickCarrot .btn-gen2{
			font-size:12pt;
			color:#fff;
			text-decoration:none;
			background: #444;
			padding:8px 12px;
			border:none;
			cursor:pointer;
		}
		#quickCarrot .btn-gen2:hover{
			background: #777;
		}
		#quickCarrot .btn-gen2:active{
			text-decoration:underline;
		}
		/*Botones*/
			#quickCarrot i.img_col{
				width:16px;
				height:16px;
				display:inline-block;
			}
			#quickCarrot i.img_col.boton{
				border:1px solid hsla(0, 0%, 50%, 0);
				cursor:pointer;
			}
			#quickCarrot i.img_col.boton:hover{
				border:1px solid hsla(0, 0%, 50%, 1);
			}
			#quickCarrot i.img_col.boton:active{
				border:1px solid #f60;
			}
			/*Blanco*/
				#quickCarrot i.img_col.blan.menus{background:url('../images/16x16_blanco/menus.png')no-repeat center;}
				#quickCarrot i.img_col.blan.articulos{background:url('../images/16x16_blanco/articulos.png')no-repeat center;}
				#quickCarrot i.img_col.blan.informaciones{background:url('../images/16x16_blanco/informaciones.png')no-repeat center;}
				#quickCarrot i.img_col.blan.diagnostico{background:url('../images/16x16_blanco/diagnostico.png')no-repeat center;}
				#quickCarrot i.img_col.blan.estadisticas{background:url('../images/16x16_blanco/estadisticas.png')no-repeat center;}
				#quickCarrot i.img_col.blan.ajustes{background:url('../images/16x16_blanco/ajustes.png')no-repeat center;}
				#quickCarrot i.img_col.blan.ayuda{background:url('../images/16x16_blanco/ayuda.png')no-repeat center;}
				#quickCarrot i.img_col.blan.acercade{background:url('../images/16x16_blanco/acercade.png')no-repeat center;}
				#quickCarrot i.img_col.blan.borrar{background:url('../images/16x16_blanco/borrar.png')no-repeat center;}
				#quickCarrot i.img_col.blan.editar{background:url('../images/16x16_blanco/editar.png')no-repeat center;}
				#quickCarrot i.img_col.blan.actualizar{background:url('../images/16x16_blanco/actualizar.png')no-repeat center;}
				#quickCarrot i.img_col.blan.subir{background:url('../images/16x16_blanco/subir.png')no-repeat center;}
			/*Negro*/
				#quickCarrot i.img_col.neg.menus{background:url('../images/16x16_negro/menus.png')no-repeat center;}
				#quickCarrot i.img_col.neg.articulos{background:url('../images/16x16_negro/articulos.png')no-repeat center;}
				#quickCarrot i.img_col.neg.informaciones{background:url('../images/16x16_negro/informaciones.png')no-repeat center;}
				#quickCarrot i.img_col.neg.diagnostico{background:url('../images/16x16_negro/diagnostico.png')no-repeat center;}
				#quickCarrot i.img_col.neg.estadisticas{background:url('../images/16x16_negro/estadisticas.png')no-repeat center;}
				#quickCarrot i.img_col.neg.ajustes{background:url('../images/16x16_negro/ajustes.png')no-repeat center;}
				#quickCarrot i.img_col.neg.ayuda{background:url('../images/16x16_negro/ayuda.png')no-repeat center;}
				#quickCarrot i.img_col.neg.acercade{background:url('../images/16x16_negro/acercade.png')no-repeat center;}
				#quickCarrot i.img_col.neg.borrar{background:url('../images/16x16_negro/borrar.png')no-repeat center;}
				#quickCarrot i.img_col.neg.editar{background:url('../images/16x16_negro/editar.png')no-repeat center;}
				#quickCarrot i.img_col.neg.actualizar{background:url('../images/16x16_negro/actualizar.png')no-repeat center;}
				#quickCarrot i.img_col.neg.subir{background:url('../images/16x16_negro/subir.png')no-repeat center;}
		/*Tabla general*/
			#quickCarrot div.tabla_gen{
				padding:.7cm .5cm .7cm .5cm;
				display:table;
				width:85%;
				font-size:12pt;
				overflow:hidden;
				text-align:left;
				border-spacing:7px;
			}
			#quickCarrot div.tabla_gen select,
			#quickCarrot div.tabla_gen input{
				padding:8px 12px;
				border:none;
				color:#444;
				border:1px solid #ccc;
				max-width:4cm;
				background:none;
			}
			#quickCarrot div.tabla_gen textarea{
				width:93%;
				padding:.7cm;
				resize:none;
				height:5cm;
				font-size:10pt;
				background:none;
			}
			#quickCarrot div.tabla_gen input[type="file"]{
				display:none;
			}
			#quickCarrot div.tabla_gen  div.fil{
				display:table-row;
			}
			#quickCarrot div.tabla_gen  div.fil.pr div.cam{
				border-bottom:1px solid #ccc;
				border-spacing: 3px;
				font-weight:bold;
			}
			#quickCarrot div.tabla_gen  div.cam{
				display:table-cell;
			}
		/*Fin de tabla general*/
	/*BLOQUE:Inicio de sesion---------------------------------------------------------*/
		#quickCarrot section.inicio_sesion{
			position:fixed;
			width:100%;
			height:100%;
			display:block;
			background:#fff;
			text-align:center;
		}
		#quickCarrot section.inicio_sesion h3:nth-child(1){
			color:#f60;
			font-size:20pt;
			float:none;
			margin-top:10%;
		}
		#quickCarrot section.inicio_sesion h4:nth-child(2){
			color:hsla(0,0%,30%,.5);
			font-size:14pt;
			float:none;
			margin-bottom:2cm;
		}
		#quickCarrot section.inicio_sesion input{
			color:#444;
			font-size:12pt;
			padding:15px 20px;
			border:none;
			background:none;
			border-bottom:1px solid #f60;
			border-top:1px solid #fff;
			border-right:1px solid #fff;
			border-left:1px solid #fff;
			transition:.5s all;
			-moz-transition:.5s all;
			-webkit-transition:.5s all;
			margin-bottom:.7cm;
		}
		#quickCarrot section.inicio_sesion input:hover{
			border:1px solid #f60;
		}
		#quickCarrot progress{
			background:none;
			background:#444;
			border:none;
			height:.5cm;
		}
	/*BLOQUE:Cabecera---------------------------------------------------------*/
		#quickCarrot header.cabecera{
			position:fixed;
			width:25%;
			height:100%;
			left:0;
			top:0;
			background:#111;
			overflow:auto;
			transition: .3s all;
			-webkit-transition: .3s all;
			-moz-transition: .3s all;
			-o-transition: .3s all;
		}
		#quickCarrot header.cabecera section.logo{
			padding:.2cm;
			text-align: center;
			overflow: hidden;
		}
		#quickCarrot header.cabecera section.logo img{
			width:70%;
		}
		#quickCarrot header.cabecera section.logo h3{
			color:#FFF;
			font-size:14pt;
		}
		#quickCarrot header.cabecera ul.menu_prin{
			margin-bottom:.8cm;
		}
		#quickCarrot header.cabecera ul.menu_prin li{
			margin:0 0 .5mm 0;
			background:#444;
			display:block;
			padding:.3cm .3cm .3cm .3cm;
			overflow:hidden;
			cursor:pointer;
		}
		#quickCarrot header.cabecera ul.menu_prin li:hover{
			background:#f60;
		}
		#quickCarrot header.cabecera ul.menu_prin li:active{
			background:#e50;
		}
		#quickCarrot header.cabecera ul.menu_prin li i{
			float:left;
			margin-right:.2cm;
		}
		#quickCarrot header.cabecera ul.menu_prin li a{
			float:left;
			text-decoration:none;
			color:#EEE;
			margin-top:.2cm;
			font-size:10pt;
		}
	/*BLOQUE:Contenedor---------------------------------------------------------*/
		#quickCarrot section.contenedor{
			width:75%;
			display:inline-block;
			background:#CCC;
			float:right;
			overflow:hidden;
			transition: .3s all;
			-webkit-transition: .3s all;
			-moz-transition: .3s all;
			-o-transition: .3s all;
		}
		#quickCarrot section.contenedor section.inf_prin{
			background:#f60;
			padding:.6cm;
			overflow:hidden;
			text-align: left;
		}
		#quickCarrot section.contenedor section.inf_prin div.menu_boton{
			width:20%;
			display:inline-block;
			text-align:left;
			overflow:hidden;
		}
		#quickCarrot section.contenedor section.inf_prin img.menu_boton{
			display:inline-block;
			cursor:pointer;
		}
		#quickCarrot section.contenedor section.inf_prin h5{
			color:#FFF;
			text-align:right;
			width:75%;
			display:inline-block;
		}
		#quickCarrot section.contenedor article.art_gen{
			overflow:hidden;
			display:none;
			margin-bottom:.2cm;
		}
		#quickCarrot section.contenedor article.art_gen h3:nth-child(1){
			padding:.4cm;
			color:#444;
			font-size:18pt;
			display:block;
		}
		#quickCarrot section.contenedor article.art_gen section.dentro_art{
			margin-top:.3cm;
			text-align:center;
			padding: .2cm .5cm .5cm .5cm;
		}
		#quickCarrot section.contenedor article.art_gen section.dentro_art article.bloque{
			width:50%;
			float:left;
			display:inline-block;
			background:#FFF;
			margin:0 .2cm .2cm 0;
			text-align:center;
		}
		#quickCarrot section.contenedor article.art_gen section.dentro_art article.bloque.repentino{
			display:none;
			transition:.4s all;
			-webkit-transition:.4s all;
			-moz-transition:.4s all;
			-o-transition:.4s all;
		}
		#quickCarrot section.contenedor article.art_gen section.dentro_art article.bloque.b1{
			width:48%;
		}
		#quickCarrot section.contenedor article.art_gen section.dentro_art article.bloque.b2{
			width:98%;
		}
		#quickCarrot section.contenedor article.art_gen section.dentro_art article.bloque h4:nth-child(1){
			display:block;
			background:#f60;
			padding:.3cm;
			color:#fff;
			text-align:left;
			overflow:hidden;
			font-size:16pt;
		}
		#quickCarrot section.contenedor article.art_gen section.dentro_art article.bloque h4:nth-child(1) i{
			float:right;
		}
		#quickCarrot div.espera{
			z-index:10000;
			overflow:hidden;
			position:fixed;
			transition:1s all;
			-moz-transition:1s all;
			-webkit-transition:1s all;
			bottom:.5cm;
			right:-50%;
			width:25%;
			padding:12px 25px;
			background:hsla(0, 0%, 30%, .9);
			color:#fff;
			font-size:10pt;
			text-align:center;
			border-radius:.1cm;
			-webkit-border-radius:.1cm;
			-moz-border-radius:.1cm;
		}
		#quickCarrot div.espera span{
			color:#DDD;
		}
		#quickCarrot div.uni{
			font-size:14pt;
			color:#444;
			padding:.7cm;
			text-align:center;
		}